/*Define color scheme variables*/
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*  Dynamically switch the color scheme depending on system preference*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #132a3d;
    --foreground: #ededed;
  }
}

html,
body {
  /* Ensure no horizontal scrolling*/
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* Ensure smooth rendering of text*/
  -webkit-font-smoothing: antialiased;  /* Safari and Chrome (macOS) */
  -moz-osx-font-smoothing: grayscale;   /* Firefox (macOS) */
}

/* normalizing css*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove list styles for all links*/
a {
  color: inherit;
  text-decoration: none;
}

/* Adapt defaults styles if in dark mode, with this no need for custom overrides
Defaults styles are in light mode. This setting only applies to the dark mode */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
